#cabecalho{
    display: flex;
}
body{
    background-color: black;
}
#logo{
    height: 100px;
    width: 200px;
    background-size: cover;
}
#texto{
    font-size: 20px;
    color:white;
    position: relative;
    margin-top: 20px;
}